gunicorn


Flask-Migrate

Jinja2

Werkzeug

itsdangerous

click

MarkupSafe

python-dotenv

sqlite3; python_version<'3.12'
Flask
Flask-SQLAlchemy
psycopg2-binary
gunicorn

SQLAlchemy
